<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senha Alterada</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      background-color: #fff;
      padding: 5%;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 30%;
      text-align: center;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 5%;
      font-weight: bolder;
      color: #007bff;
    }
    p {
      color: #555;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Senha Alterada</h1>
    <p><strong>Sua senha foi alterada com sucesso. <br> Ou o tempo para trocar a senha acabou.</strong></p>
    <p>Se você ainda quiser alterar sua senha, será necessário reiniciar o processo de recuperação de senha.</p>
  </div>
</body>
</html>